<!DOCTYPE html>
<html lang="en" id="not-homepage">

<head>
    <meta charset="utf-8">
    <title>March Madness</title>
    <!--------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/about.css">
    <!--------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>

</head>

<body id="not-homepage">
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand " href="/">
            <img src="static\images\1200px-March_Madness_logo.svg.png " alt="logo " style="width:115px;height:65px; ">
        </a>
        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarColor02 " aria-controls="navbarColor02 " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
        </button>

        <!--NAVBAR-->
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active ">
                    <a class="nav-link " href="/">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/prediction">ML</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/tableau">Tableau</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/data">Data</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/glossary">Glossary</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="card ">
                <div class="content ">
                    <div class="imgBx"><img src="static\images\BT Headshot.JPG"></div>
                    <div class="contentBx">
                        <h3>Brett Thompson<br><span>Graduate from Texas State University with a degree in Economics. Currently, I negotiate the sale of natural gas and electricity contracts for large commercial and industrial clients while actively maintaining a database with relevant client information. I am passionate about data science and mining through data to deliver actionable insights. Outside of work, my hobbies include anything sports related, cooking, and hiking.</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://github.com/BrettimusGit" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="card ">
                <div class="content ">
                    <div class="imgBx"><img src=""></div>
                    <div class="contentBx">
                        <h3>Grant Wooldridge<br><span>Graduated from Belmont University with a degree in Music Business. Currently a Category Management Analyst at Sysco where I analyze food and beverage data globally to provide actionable insights to Category Management Teams.  My hobbies and interests include: sports - both playing and watching, exercise, outdoor activities, gaming, and music.</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://github.com/WooTeenie" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="card ">
                <div class="content ">
                    <div class="imgBx"><img src="static\images\krisPIC.jpeg"></div>
                    <div class="contentBx">
                        <h3>Kris Wasemiller<br><span>Graduated from Abilene Christian University with a degree in Architecture. Currently working as a project manager with a firm in Denton, TX that specializes in civic construction. I've always enjoyed the technical aspect of how things work in the digital and physical space. I hope to transition into a career in data science immediately following completion of this class. In my free time, I like to spend time with my wife Amanda (married 13 years) and two sons Jack (12) and Lucas (4). We also enjoy being active as a family in our garage gym and anything that has to do with sports and the outdoors.</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://github.com/kriswasemiller" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="card ">
                <div class="content ">
                    <div class="imgBx"><img src="static\images\member1.jpg"></div>
                    <div class="contentBx">
                        <h3>Scott Frazier<br><span>A graduate of UTD's criminology program, Scott Frazier is looking to venture into a new field of study/ work in data science. He has hopes of obtaining a Master's in data science in the near future to achieve his goal of breaking into the booming industry, as well as helping teach others who want to learn data science. He also loves playing with Oliver the goldendoodle, and eating tacos.</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://github.com/scottfrazier97" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!--TILTING EFFECT-->

    <script type=" text/javascript " src="static\js\vanilla-tilt.js ">
    </script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card "), {
            max: 25,
            speed: 250
        });
    </script>
</body>

</html>