<!DOCTYPE html>
<html lang="en" id="not-homepage">

<head>
    <meta charset="utf-8">
    <title>March Madness</title>
    <!--------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/data.css">
    <!--------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>
    <script type="text/javascript" src="static\js\data.js"></script>

</head>

<body id="not-homepage">
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand " href="/">
            <img src="static\images\1200px-March_Madness_logo.svg.png " alt="logo " style="width:115px;height:65px; ">
        </a>
        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarColor02 " aria-controls="navbarColor02 " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
        </button>

        <!--NAVBAR-->
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active ">
                    <a class="nav-link " href="/">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/prediction">ML</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/tableau">Tableau</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/data">Data</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/glossary">Glossary</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="top:50px;">
                <h1 style="color: white">March Madness - Data Table</h1>
                <hr>

                <span class="content_item non_wrapping">
                    <span class="page_heading">
                        <span></span>
                </span>
                </span>
                <div id="DirectEditPreserve" class="wow fadeInUp databaseTable_holder 122860">
                    <div id="DirectEditPreserve" class="databaseTable_heading">
                        <div id="DirectEditPreserve" class="databaseTable_title">
                            <h2>2016-2021 Data Table</h2>
                        </div>
                        <input id="DirectEditPreserve" class="databaseTable_search" type="text" width="200" placeholder="Search this table">
                    </div>
                    <div id="DirectEditPreserve" class="databaseTable">
                        <div id="DirectEditPreserve" class="databaseTable_import_wrap" style="display: block;">
                        </div>
                        <div id="DirectEditPreserve" class="databaseTable_UI_scrollLeft databaseTable_UI_button" style="display: none;">
                            <!-- JS shows/hides by appending the .hidden class -->
                        </div>
                        <div id="DirectEditPreserve" class="databaseTable_UI_scrollRight databaseTable_UI_button" style="display: none;">
                            <!-- JS shows/hides by appending the .hidden class -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>