    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    * {
        box-sizing: border-box;
    }
    /****************HOME*PAGE/****************/
    /******************************************/
    /****************HOME*PAGE/****************/
    
    #home-page {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
    }
    
    #home-page::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
        clip-path: circle(30% at right 70%);
    }
    
    #home-page::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
        clip-path: circle(11.3% at 0% 25%);
    }
    
    .team-area {
        display: flex;
        width: 90%;
        justify-content: space-around;
        position: absolute;
    }
    
    .single-team {
        width: 360px;
        height: 400px;
        padding: 24px;
        background: rgb(0, 0, 0);
        position: relative;
        display: flex;
        align-items: flex;
        transition: .6s ease-out;
        border-radius: 50%;
    }
    
    .single-team:hover {
        transform: scale(1.2, 1.2);
    }
    
    .single-team:hover:before {
        opacity: 1;
    }
    
    .single-team:hover .team-text {
        opacity: 1;
        transform: translateY(0);
    }
    
    .single-team:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        opacity: 0;
        border-radius: 10px;
    }
    
    .single-team img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .single-team .team-text {
        position: relative;
        z-index: 3;
        color: #fff;
        opacity: 0;
        transform: translateY(60px);
        transition: 0.5s;
    }
    
    .team-text h2 {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 3px;
    }
    
    .team-text p {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .team-text a {
        width: 30px;
        height: 30px;
        display: inline-block;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 50%;
        margin: 0 5px;
        text-decoration: none;
    }
    
    .team-text a i {
        color: #fff;
        padding: 6px 8px;
    }
    /*NOT*HOME-PAGE*/
    
    #not-homepage {
        display: flex;
        background: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
    }
    
    #not-homepage h1 {
        color: black
    }
    /*GLOSSARY TABLE*/
    
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: auto;
        font-family: sans-serif;
        min-width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    
    .styled-table thead tr {
        background-color: #ffae00;
        color: #000000;
        text-align: left;
    }
    
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }
    
    .styled-table tbody tr {
        border-bottom: thin solid #dddddd;
    }
    
    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #ffae00;
    }
    
    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #000000;
    }